@model PPI.Platform.Web.Models.ForgotViewModel
<html>
<body style="font-family:Arial, Verdana, sans-serif;">
    <p>You are receiving this email because you requested a password reset for your HBS Network Diagnostic Survey account. If you received this email by mistake or did not initiate the request, please ignore.</p>
    <p>&nbsp;</p>
    <p>Please go to the following page to create a new password:</p>
    <a href="@Model.Link">Click Here</a>
    <p>&nbsp;</p>    
    <p>Thank you</p>
    <p>The HBS Network Diagnostic Survey Team</p>

</body>
</html>
