@model PPI.Platform.Web.Models.ForgotPasswordViewModel
@{    
    ViewBag.Title = "Forgot Password Confirmation";    
}


<div>
    <p>
        @if (!string.IsNullOrEmpty(Model.Email))
            {
            <div>An email has been sent to the following email address ****** @Model.Email.Substring(@Model.Email.IndexOf("@"),(Model.Email.Length) - @Model.Email.IndexOf("@"))  .  Once received, please click on the reset link in the email to continue the process.</div>
            }
        else
        {
            <div><p>This User Name is not found.  If you do need assistance, please contact your Program Coordinator.</p></div>
        }   
    </p>
</div>
	
