<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=nico-pc;Initial Catalog=Platform_HBS; Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PlatformEntities" connectionString="metadata=res://*/Entities.Platform.csdl|res://*/Entities.Platform.ssdl|res://*/Entities.Platform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nico-pc;Initial Catalog=Platform_HBS;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdministrationEntities" connectionString="metadata=res://*/Entities.Administration.csdl|res://*/Entities.Administration.ssdl|res://*/Entities.Administration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nico-pc;Initial Catalog=Platform_HBS;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmailEntities" connectionString="metadata=res://*/Entities.Email.csdl|res://*/Entities.Email.ssdl|res://*/Entities.Email.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nico-pc;Initial Catalog=Platform_HBS;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SurveyEntities" connectionString="metadata=res://*/Entities.Survey.csdl|res://*/Entities.Survey.ssdl|res://*/Entities.Survey.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nico-pc;Initial Catalog=Platform_HBS;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_DefaultSiteMapNodeVisibiltyProvider"
      value="MvcSiteMapProvider.FilteredSiteMapNodeVisibilityProvider, MvcSiteMapProvider" />
    <add key="MvcSiteMapProvider_SecurityTrimmingEnabled" value="true" />
    <add key="MvcSiteMapProvider_EnableLocalization" value="true" />
    <add key="MvcSiteMapProvider_EnableSitemapsXml" value="false" />
    <add key="MvcSiteMapProvider_AttributesToIgnore" value="cssIcontype" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="PPI.Platform.Web;PPI.Plugin.Email;PPI.Plugin.Administration;PPI.Plugin.Survey;PPI.Plugin.Report" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="PPI.Platform.ReportServices" value="http://192.168.22.7:8081/api/" />
    <add key="mailAccount" value="FIIgsM5GxyD_7kkt2L6rQzZZt1ANq-w78j_h0mEbk2QTL7zs31lo91m4PR0SOIXWKNd2oA2" />
    <add key="mailPassword" value="Evqz-r1cX-3N87EsMHpuzDsN92eFBDmv59e9M2MkAIhfnPpN7Y6zHc4oneF-qBinhvONLw2" />
    <add key="OWINAccountFromAddress" value="survey@perfprog.com" />
    <add key="OWINAccountFromAddressFriendlyName" value="Survey Master" />
    <add key="OWINAccountSystemSubjectBusinessName" value="HBS Network Diagnostic Survey - " />
    <add key="bccAccount" value="webapp@performanceprograms.com" />
    <add key="mailCategory" value="hbs-nonprod" />
  </appSettings>
  <system.web>
    <!--128-->
    <machineKey validationKey="ECA69954CFF78276FFA676D2FB568E1041D4E6D458802FF5E136D5CCB276B97E1EE329F562D7F1315F8D9633737B4EAF91E91AE7E3DE9A2F22975D0F6F597BE6" decryptionKey="76B7EEA3A2F7E5BB1D1AE1E2E4EFB023276E0F28ADF13761535F31EB1D6C46C6" validation="SHA1" decryption="AES" />
    <globalization enableClientBasedCulture="true" culture="auto:en-us" uiCulture="auto:en-us" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--Application Insights: add System.Runtime assembly to resolve PCL dependencies-->
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/Http404" />
    </customErrors>
    <httpModules>
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>