@section AddToHead{
<link href="~/Content/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
}
@{
    
}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-1 small">Relationship</th>
                <th class="col-md-1 small">Different Functional or Product Area</th>
                <th class="col-md-1 small">Different Business Unit, Division or Office</th>
                <th class="col-md-1 small">Different Firm</th>
                <th class="col-md-1 small">Same Gender</th>
                <th class="col-md-1 small">Same Nationality</th>
                <th class="col-md-1 small">Same Race</th>
                <th class="col-md-1 small">Same Native Language as you</th>
                <th class="col-md-1 small">Same Age Group as you</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Doug Stone</td>
                <td>
                    <select class="form-control">
                        <option>- Select - </option>
                        <option>Peer</option>
                        <option>Manager</option>
                        <option>Direct Report</option>
                        <option>Friend/Family</option>
                    </select>
                </td>
                <td align="center">
                    <input id="Checkbox8" type="checkbox" checked data-indeterminate="true" data-on-text="Yes" data-off-text="No" data-size="small">
                </td>
                <td align="center">
                    <input id="Checkbox9" type="checkbox" checked data-indeterminate="true" data-on-text="Yes" data-off-text="No" data-size="small">
                </td>
                <td align="center">
                    <input id="Checkbox10" type="checkbox" checked data-indeterminate="true" data-on-text="Yes" data-off-text="No" data-size="small">
                </td>
                <td align="center">
                    <input id="Checkbox11" type="checkbox" checked data-indeterminate="true" data-on-text="Yes" data-off-text="No" data-size="small">
                </td>
                <td align="center">
                    <input id="Checkbox12" type="checkbox" checked data-indeterminate="true" data-on-text="Yes" data-off-text="No" data-size="small">
                </td>
                <td align="center">
                    <input id="Checkbox13" type="checkbox" checked data-indeterminate="true" data-on-text="Yes" data-off-text="No" data-size="small">
                </td>
                <td align="center">
                    <input id="Checkbox14" type="checkbox" checked data-indeterminate="true" data-on-text="Yes" data-off-text="No" data-size="small">
                </td>
                <td align="center">
                    <input id="Checkbox15" type="checkbox" checked data-indeterminate="true" data-on-text="Yes" data-off-text="No" data-size="small">
                </td>
            </tr>

        </tbody>
    </table>
</div>
@section scripts{
<script src="../../Scripts/bootstrap-switch.js"></script>    
<script src="../../Scripts/Highlight.js"></script>
<script src="../../Scripts/Main.js"></script>

}
